__pycache__/
*.pyc
venv/
*.ipynb_checkpoints/
data/
.env/
notebooks/
src/notebooks/
.DS_Store
src/firebase-service-account.jsonvenv/
data/processed/process_game.db
data/raw/steam_games.csv
notebooks/
src/firebase-service-account.json
src/cache