<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameRec.com</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/animation.css">
</head>
<body>
    <!-- Sign in section -->
    <div id="top-right" class="auth-container">
        <h1>GameRec.com</h1>
        <!-- Sign-in  -->
        <button id="login-btn" class="signin-btn">Sign in with Google</button>
    
        <!-- User Info  -->
        <button id="open-nav-btn" class="open-nav-btn">☰</button>
        <div id="nav-panel" class="nav-panel">
            <div id="user-info-section">
                <img id="nav-user-icon" alt="User Icon" class="user-icon" />
                <span id="nav-user-name" class="user-name"></span>
                <button id="logout-btn-nav" class="logout-btn">Logout</button>
            </div>
            <div class="likes-section">
                <h2>Your Likes</h2>
                <div id="liked-games-list" class="liked-games-list"></div>
            </div>
        </div>
    </div>

    <!-- Dropdown Form -->
    <div id="search-container">
        <form id="search-form">
            <input type="text" id="game" placeholder="Search for a game..." autocomplete="off" />
            <div id="suggestions" class="suggestions"></div>
        </form>
        <button id="search-btn" class="search-btn">Search</button>
    </div>

    <!-- Display Recommendations -->
    <div id="rec" class="recommendations">
        <div id="spinner" class="spinner-container">
            <div class="spinner"></div>
            <div class="loading-text" id="loading-text">Loading...</div>
        </div> 
        <h2 id = "recommendation-title">Recommendations</h2>
        <button class="nav left">❮</button>
        <div class="recommendation-container">
            <div id="recommendation-list" class="recommendation-list"></div>
        </div>
        <button class="nav right">❯</button>
    </div>

    <!-- Game Details Section -->
    <div class="game-details hidden" id="game-details">
        <div id="spinner" class="spinner-container">
            <div class="spinner"></div>
            <div class="loading-text" id="loading-text">Loading...</div>
        </div>
        <div class="game-details-top">
            <h1 id="game-title"></h1>
            <div id="like-container" class="like-container">
            </div>
        </div>
        <div class="media-slider" id="media-container">
            <!-- Media items will be dynamically added here -->
        </div>
        <p id="game-description"></p>
    </div>

    <script src="../static/scripts.js"></script>
    <script src="../static/scripts-rec.js"></script>
    <script src="../static/front-end.js"></script>
    <script type="module" src="../static/signin.js"></script>
</body>
</html>
