body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}


h1, h2 {
    color: #ffcc00; /* Gold accent for titles */
}

/* Search Form */
#search-form {
    position: relative;
    color:#f0f0f0;
    border: 2px solid #1d1d1d; 
    padding: 5px 15px; 
    background-color: #333333; 
    border-radius: 20px;
}

#search-form input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 10px;
    background: none; 
    color: #cacaca; 
    border-radius: 20px; /* Rounded for input */
}

/* Search Form Suggestions Dropdown */
.suggestions {
    top: 100%;
    left: 0;
    width: 100%;
    border-top: none; 
    max-height: 200px;
    overflow-y: auto;
    color: #efefef;
    background-color: #1f1f1f;
    margin-top: 5px;
    z-index: 20;
    border-radius: 0 0 20px 20px; /* Rounded bottom corners */
}

/* Suggestion Item */
.suggestion-item {
    padding: 10px 15px; /* More padding for a cleaner look */
    font-size: 14px;
    cursor: pointer;
    color: #c6c6c6; /* Match form text */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.suggestion-item:hover {
    background-color: #7d7d7d; /* Match button hover color */
    color: white; /* White text for contrast */
}
.suggestions::-webkit-scrollbar {
    width: 8px;
}
.suggestions::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

/* Navigation buttons */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

/* Recommendations container */
.recommendations {
    position: relative; 
    margin-top: 20px;
    padding: 20px;
    color:#000;
    background-color: #2b2b2b;
}
.recommendation-container {
    position: relative; 
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.recommendation-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.recommendation-item {
    display: inline-block;
    text-wrap: auto;
    width: 200px;
    flex-shrink: 0;
    text-align: center;
}
.recommendation-item:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease;
}
.recommendation-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.recommendation-item a {
    color:#4285f4
}
.nav.left {
    left: 10px;
}
.nav.right {
    right: 10px;
}
.nav:hover {
    background-color: rgba(255, 204, 0, 0.9); 
}

/* Game details container */
.game-details-top {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.game-details {
    display: block;
    padding: 20px;
    border: 1px solid #444;
    color: #cacaca;
    margin-top: 20px;
    background-color: #222;
}

/* Like Container */
.like-container {
    display: block;
}

/* Like Button */
.like-container button {
    background-color: #f7c42a; /* Red theme for the like button */
    color: rgb(60, 60, 60);
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
}

.like-container button:hover {
    background-color: #d1ab2f; 
}

.game-details.hidden {
    display: none;
}

#game-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#game-description {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 700px;
}

#game-description .bb_img{
    width: 100%;
    max-width: 600px;
    align-self: center;
}


/* Media slider container */
.media-slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Snap to horizontal items */
    padding: 20px;
    justify-content: flex-start;
    align-items: center; /* Prevent vertical movement */
    position: relative;
    white-space: nowrap;
}

.media-item {
    flex: 0 0 auto;
    scroll-snap-align: center; /* Ensure this aligns to the center */
    width: 80%; /* Center item prominent */
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.media-item img,
.media-item video {
    width: auto;
    height: 300px;
    display: block;
}

.media-item.centered video {
    opacity: 1;
    transform: scale(1); 
}

/* Top right sign in section */
.auth-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 15px;
    background-color: #000000;
    border-bottom: 1px solid #ddd;
}

.signin-btn {
    background-color: #4285f4; /* Google Blue */
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signin-btn:hover {
    background-color: #357ae8; /* Darker Google Blue */
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-name {
    font-size: 14px;
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Logout Button */
.logout-btn {
    background-color: #e84545; /* Red Logout Button */
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-btn:hover {
    background-color: #d12f2f; /* Darker Red */
}


